<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Previsão de Diabetes</title>
</head>
<body>
    <div>
        <form action="/result" method="POST">
            <label for="gest">Número de Gestações</label>
            <input type="text" id="gest" name="gest">
            <br>
            <label for="glic">Concentração de Glicose</label>
            <input type="text" id="glic" name="glic">
            <br>
            <label for="age">Idade</label>
            <input type="text" id="age" name="age"> anos
            <br>
            <input type="submit" value="Enviar">
        </form>

    </div>
</body>
</html>